<!DOCTYPE html>
<html>
    <head>
        <title>About US || The Grid</title>
        <link rel="stylesheet" href="/stylesheets/about.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
        <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    </head>
    <body>
       <div class="header">
           <div  class="logo"><a href="/">The Grid</a></div>
           <div class="tagline">The desgin of the future</div>
           <div class="menu-items">
               <a href="/">Users</a>
               <a href="/">Explore</a>
               <a href="/">Blog</a>
               <a href="/">Signup</a>
               <a href="/login">Login</a>
           </div>
       </div>
       <div class="body">
           <div class="section1">
               <h1 class="text-center">Welcome</h1>
               <p class="text-center">We're Eight Hour Day, a creative studio that loves to learn, collaborate and create.</p>
           </div>
           <div class="section2">
               <img src="http://eighthourday.com/uploads/site/EHD_About_Us_Scaled.jpg">
           </div>
           <div class="section3">
               <h1 class="text-center">About</h1>
               <p class="text-center">Hi! We are Nathan Strandberg and Katie Kirk, two individuals with a passion 
               for creativity — creativity makes us happy. We truly believe in the transformative power 
               of illustration and design and their ability to simplify communications, 
               experiences, engage and inspire people everywhere. Good design and good
               relationships come from collaboration. We're excited to start a visual dialogue,
               learn about you, and make something beautiful together.
               </p>
           </div>
       </div>
       <div class="footer footer-color">
           <a href="/">Privacy Policy</a>
           <a href="/">Terms of use</a>
        </div>
    </body>


<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="/js/landing.js"></script>


</html>