<!DOCTYPE html>
<html>
    <head>
        <title>Signup || Log in</title>
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
        <link href="https://fonts.googleapis.com/css?family=Bellefair" rel="stylesheet">

    <style>
        .error {
            padding:5px;
            margin-bottom:10px;
            background-color:#ff4444;
            border-radius:5px;
            color:#fff;
        }
    </style>

    </head>
    <body id="body">
       <section id="landing">
            <div id="loginbtndiv">
                <button href="/" class="btn" id="loginbtn">Login</button>
            </div>
             <div id="login-signup-container">
                 <h5>Welcome to the Fashion Grid</h5>
                 <p class="text-center exf-text">Explore fashion</p>
                 <form action="/signup" method="POST">
                       <% if( error && error.length > 0 ){ %>
                          <div class="error" id="error">
                             <p class="text-center" style="padding-top:10px;"><%= error%></p>
                           </div>
                      <% } %>
                     
                   <div class="row">
                      
                        <div class="col-md-6">
                             <div class="form-gorup">
                                 <input type="text" class="form-control" placeholder="First Name" id="fname" name="fname" required>
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="form-gorup">
                                 <input type="text" class="form-control" placeholder="Last Name" name="lname" required><br>
                             </div>
                         </div>
                         <div class="col-md-12">
                             <div class="form-gorup">
                                 <input type="email" class="form-control" placeholder="Email" name="email" required><br>
                             </div>
                         </div>
                         <div class="col-md-12">
                             <div class="form-gorup">
                                 <input  type="password" class="form-control" placeholder="Password" name="password" required><br>
                             </div>
                         </div>
                         <div class="col-md-12">
                             <div class="form-gorup">
                               <input  type="submit" class="btn btn-primary  form-control" value="Signup">
                                <br><p class="text-center or">OR</p>
                                 <div class="text-center">
                                      <a class="btn btn-block btn-social btn-facebook btn-lg" href="/auth/facebook">
                                          <i class="fab fa-facebook-f" style="padding-top:10px;"></i> Continue with Facebook
                                        </a>
                                        <a class="btn btn-block btn-social btn-google btn-lg" href="/auth/google">
                                          <i class="fab fa-google" style="padding-top:10px;"></i> Continue with Google
                                        </a>
                                 </div>
                             </div>
                         </div>
                    </div>
                 </form>
             </div>
             
             <ul class="slideshow">
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
             </ul>
             
             <div id="round-border">
                <div id="content">
                    <p>The Grid helps you reach your dreams</p>
                    <button class="btn btn-outline-light" id="howitworksBtn">How it works</button>
                </div>
             </div>
             
             <div id="footer">
                <div class="text-center">
                    <a href="/about">About Fashion Grid</a>
                    <a href="/">Explore</a>
                    <a href="/">Blog</a>
                    <a href="/">Users</a>
                    <a href="/">Terms of Service</a>
                    <a href="/">Privacy Policies</a>
                    <a href="/">Help</a>
                </div>
             </div>
           
       </section>  
        
       <section id="howitworks">
           
           <div class="menu">
               <div class="menu-group">
                  <a href="/about">About</a>
                  <a href="/">Explore</a>
                  <a href="/">Blog</a>
                  <a href="/">Users</a>
              </div>
           </div>
          
          
           <div class="bg">
               
                <div class="bg-video-wrapper">
                  <video class="bg-video" playsinline="" autoplay="" muted="" loop="" poster="/images/create/geofilters_ambient.jpg" id="bgvid">
                      <source src="https://storage.googleapis.com/snapchat-web/geofilters/splash-video/63fc2a7e-a18c-4e2f-9ab8-b46980013bbc.mp4" type="video/mp4">
                      <source src="https://storage.googleapis.com/snapchat-web/geofilters/splash-video/63fc2a7e-a18c-4e2f-9ab8-b46980013bbc.webm" type="video/webm">
                  </video>
               </div>
               
               <div class="bg-overlay">
                   <div class="bg-headline">
                       <h1>Create Your Own</h1>
                       <p>Personalize your own Filters and Lenses! Whether it's a Filter that frames the moments at a friend's wedding, or a Lens that makes birthdays even more hilarious, your custom creations will make any event more special.</p>
                   </div>
               </div>
               
               <div class="bg-bottom">
                    <div class="bg-action">
                       <a class="slide-link button button-pill button-transparent" id="learnMore" href="#section1">learn more <i class="fas fa-chevron-down"></i></a>
                    </div>
               </div>
               
           </div>
           
           <div id="section1" class="section">
                <h2 class="section1-types-title">
                    <span class="section1-title">Creative Tools</span>
                </h2>
                <div class="section1-product-container">
                    <!--product type-->
                    <div class="product-type">
                        <a class="product-type1-link">
                            <div class="tile">
                              <div class="icon icon-product1"></div>
                              <div class="bottom">
                                <p class="name">Filters</p>
                                <p class="description">Frames and artwork friends can add to their Snaps.</p>
                              </div>
                            </div>
                        </a>
                        <p class="button-container">
                            <a class="slide-link button button-pill button-secondary-yellow" href="#section-filter">Learn More</a>
                        </p>
                    </div>
                    <div class="product-type">
                        <a class="product-type1-link">
                            <div class="tile">
                              <div class="icon icon-product2"></div>
                              <div class="bottom">
                                <p class="name">Filters</p>
                                <p class="description">Frames and artwork friends can add to their Snaps.</p>
                              </div>
                            </div>
                        </a>
                        <p class="button-container">
                            <a class="slide-link button button-pill button-secondary-yellow" href="#section-filter">Learn More</a>
                        </p>
                    </div>
                    <div class="product-type">
                        <a class="product-type1-link">
                            <div class="tile">
                              <div class="icon icon-product3"></div>
                              <div class="bottom">
                                <p class="name">Filters</p>
                                <p class="description">Frames and artwork friends can add to their Snaps.</p>
                              </div>
                            </div>
                        </a>
                        <p class="button-container">
                            <a class="slide-link button button-pill button-secondary-yellow" href="#section-filter">Learn More</a>
                        </p>
                    </div>
                    <!--end product types-->
                </div>
           </div>
           <div id="section2" class="section section-yellow-pattern">
               <div class="section2-container">
                   <figure class="phone right">
                      <div class="image img-1"></div>
                    </figure>
                    <div class="content left">
                      <h2 class="product-name">Filters</h2>
                      <div class="description">Create and purchase your own Filter to frame birthdays, weddings, and any other event. It's the perfect way to make any occasion even more special!</div>
            
                      <p class="button-container">
                        <a href="" class="button button-pill button-pink">
                          Signup Now
                        </a>
                      </p>
                    </div>
               </div>
           </div>
           <div id="section3" class="section">
               <div class="section2-container wrap">
                   <figure class="phone left">
                      <div class="image img-2"></div>
                    </figure>
                    <div class="content right">
                      <h2 class="product-name">Lenses</h2>
                      <div class="description">Bring back your friend's favorite Lens at their birthday party, or customize your own to make any event even more playful and fun.</div>
            
                      <p class="button-container">
                        <a href="/create?product_type=lens&amp;utm_source=snapchat&amp;utm_medium=site&amp;utm_campaign=lens_section" class="button button-pill button-pink">
                          Signup Now
                        </a>
                      </p>
                    </div>
               </div>
           </div>
           <div id="section4" class="section section4">
               <div class="section2-container">
                   <figure class="phone right">
                      <div class="image img-3"></div>
                    </figure>
                    <div class="content left">
                      <h2 class="product-name">Bitmoji</h2>
                      <div class="description">Create and outfit your personal Bitmoji to look just like you — or the person you've always wanted to be! Then, you can add your Bitmoji (and even your friends' Bitmojis) to Filters you create.</div>
            
                      <p class="button-container">
                        <a href="https://www.bitmoji.com" class="button button-pill button-secondary c">
                          Signup Now
                        </a>
                      </p>
                    </div>
               </div>
           </div>
           <div style="background-color:#262626;;margin-top: 130px;">
               <div class="footer-bottom-bar">
                   <a href="/">Privacy Policy</a>
                   <a href="/">Terms of Service</a>
                   <div style="clear:both;"></div>
               </div>
           </div>
           
           

       </section> 
        
          
    </body>
<!--font awesome-->


<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- js file-->
<script src="/js/landing.js"></script>



</html>